* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}
img {
  display: block;
  max-width: 100%;
}
.change {
  display: block;
  padding: 15px 40px;
  margin: 50px auto;
  border-radius: 10px;
  border: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: #3d6e7f;
  cursor: pointer;
}
